@import "reset.css";

body{
    font-family: 'Titillium Web', sans-serif;
}

header{
    background-color: #87509c
}

.top_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
}

.wrapper{
    max-width: 1140;
    width: calc(100% - 40px); 
    margin: 0 auto;
}

.image{
    padding-left: 40px;
}

.navigation{
    font-size: 16;
    line-height: 18;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
}

.navigation a{
    text-decoration: none;
    color: inherit;
}

.navigation ul{
    display: flex;
    padding-right: 40px;
}

.navigation ul li{
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    margin: 0 1px;
}

.navigation ul li:hover{
    background: #643a79;
    transition: background 300ms ease-in-out;
}

.bottom_line{
    text-align: center;
    padding-top: 85px;
    padding-bottom: 145px;
}

.bottom_line p{
    font-size: 42px;
    line-height: 48px;
    color: #f7f3ea;
    margin-bottom: 55px;
}

.bottom{
    display: inline-block;
    background: #eb7d4b;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 3px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 600;
    border-bottom: 4px solid #c55725;
} 

.bottom:hover{
    background: #c55725;
    transition: background 300ms ease-in-out;
}

section.services{
    background: #17c2a4;
    padding: 120px 0;
    text-align: center;
}

section.services h2{
    font-size: 40px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 700;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
section.services h2:after{
    content: "";
    display: block;
    width: 85px;
    height: 4px;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    margin-left: -42px;
    bottom: 0;
}

section.services .description{
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 70px;
}

section.services .services_list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section.services .services_list .services_item{
    width: calc(25% - 15px);
}

section.services .services_list .services_item .img{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

section.services .services_list .services_item .item_title{
    font-size: 24px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

section.services .services_list .services_item .item_descrition{
    color: #ffffff;
    font-size: 16;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    padding-left: 30px; 
    padding-right: 30px;
    box-sizing: border-box;
}

section.get_in_touch{
    background: #3c5499;
    text-align: center;
    padding: 120px 0;
}

section.get_in_touch h2{
    font-size: 40px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 700;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

section.get_in_touch h2:after{
    content: "";
    display: block;
    width: 85px;
    height: 4px;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    margin-left: -42px;
    bottom: 0;
}

section.get_in_touch .description_get_in_touch{
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 70px;
}

section.get_in_touch .contact_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 856px;
    margin: 0 auto;
}

section.get_in_touch .contact_form input[type = "text"], section.get_in_touch .contact_form input[type = "email"]{
    width: calc(50% - 16px);
    margin-bottom: 25px;   
    background: #273a71;
    color: #ffffff;
    border: none;
    padding-left: 25px;
    height: 56px;
    line-height: 56px;
    border-radius: 3px;
    font-size: 18px;
    box-sizing: border-box; 
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 18px;
  }
input::-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 19+ */
    color: #ffffff;
    font-size: 18px;
  }
input:-ms-input-placeholder, textarea::-webkit-input-placeholder { /* IE 10+ */
    color: #ffffff;
    font-size: 18px;
  }
input:-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 18- */
    color: #ffffff;
    font-size: 18px;
  }

section.get_in_touch .contact_form textarea{
    width: 100%;
    margin-bottom: 60px;
    background: #273a71;
    color: #ffffff;
    border: none;
    padding-left: 25px;
    height: 200px;
    line-height: 56px;
    border-radius: 3px;
    font-size: 18px;
    box-sizing: border-box; 
}

section.get_in_touch .contact_form .submit_bottom{
    width: 100%;
    text-align: center;
}

section.get_in_touch .contact_form .submit_bottom input[type = "submit"]{
    border: none;
    display: inline-block;
    background: #30bae7;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 3px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 600;
    border-bottom: 4px solid #0a94c1;
}

section.get_in_touch .contact_form .submit_bottom input[type = "submit"]:hover{
    background: #0a94c1;
    transition: background 300ms ease-in-out;
}

footer.footer_list{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600px;
    letter-spacing: 0.02em;
    background: #344b8e;
}

footer.footer_list a{
    text-decoration: none;
    color: inherit;
}

footer.footer_list a:hover{
    color: #30bae7;
    transition: color 300ms ease-in-out;
}

footer.footer_list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 110px;
}

footer.footer_list .right_padding{
    padding-right: 80px;    
}

footer.footer_list .left_padding{
    padding-left: 80px;    
}